body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 20px;
}

form {
  margin-top: 40px;
}

svg {
  width: 100%;
  height: auto;
}

.container {
  font-weight: 400;
  font-size: 15px;
}

.information {
  padding-right: 40px;
}

.check-mark {
  border-radius: 50%;
  background-color: hsl(4, 100%, 67%);
  font-size: 11px;
  padding: 5px;
  position: relative;
  top: -2px;
}

.email-label {
  font-weight: 600;
}

.btn-subscribe {
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  display: block;
}

.btn-subscribe:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(4, 100%, 67%);
}

.btn-subscribe,
.email {
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 601px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }

  h1 {
    padding-top: 20px;
  }

  .container {
    margin-top: 100px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    padding-left: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 720px;
  }

  .first-svg-container {
    display: none;
  }

  .svg-container {
    background-color: hsl(4, 100%, 67%);
    border-radius: 15px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: hsl(0, 0%, 100%);
  }

  .svg-container {
    display: none;
  }

  .container {
    padding: 35px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
  }

  .information {
    padding-right: 0;
  }
}
